<% provide :title, t("title.static_pages.home") %>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
      <section class="micropost_form">
        <%= render "shared/micropost_form" %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3><%= t("static_pages.home.post_title") %></h3>
      <%= render "shared/feed" %>
    </div>
  </div>
<% else %>

  <h1><%= t("static_pages.home.title") %></h1>
  <p>
    <%= t("static_pages.home.rails_tutorial_home") %>
    <a href = "http://www.railstutorial.org/"><%= t("static_pages.home.rails_tutorial_link") %></a>
    <%= t("static_pages.home.sample_app") %>
  </p>

<% end %>
